{% extends "base.html" %}
{% block content %}

<h1>Top Movies in Theaters This Week</h1>

<div class="movie-grid">
    {% for movie in movies %}
    <div class="movie-card">

        <img src="{{ movie.poster }}" class="movie-poster" alt="Poster">

        <h3>{{ movie.title }}</h3>
        <p>{{ movie.release_date }}</p>

        <a href="/selected_movie?title={{ movie.title }}
            &release_date={{ movie.release_date }}
            &tmdb_id={{ movie.tmdb_id }}
            &poster={{ movie.poster }}">
            <button>More Info</button>
        </a>

    </div>
    {% endfor %}
</div>

{% endblock %}
