{% extends "base.html" %}
{% block content %}

<h1>{{ movie_object.title }}</h1>

<div class="movie-detail-container">

    {% if movie_object.poster %}
    <img src="{{ movie_object.poster }}" class="movie-poster">
    {% else %}
    <p>No poster available</p>
    {% endif %}

    <div class="movie-info">
        <p><strong>Release Date:</strong> {{ movie_object.release_date }}</p>
        <p><strong>Director:</strong> {{ movie_object.director }}</p>
        <p><strong>Actors:</strong> {{ movie_object.actor_1 }}, {{ movie_object.actor_2 }}</p>
        <p><strong>Genre:</strong> {{ movie_object.genre }}</p>
        <p><strong>Plot:</strong> {{ movie_object.plot }}</p>

        {% if movie_object.youtube_id %}
        <div class="trailer-box">
            <iframe width="420" height="315"
                src="https://www.youtube.com/embed/{{ movie_object.youtube_id }}"
                allowfullscreen></iframe>
        </div>
        {% endif %}

     
    </div>

</div>

{% endblock %}
